{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{% static '/img/ic_fair_limit_2w.svg' %}" sizes="196x196" rel="shortcut icon" type="image/svg">
		<link rel="stylesheet" href="{% static '/css/styles.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
		<title>SEGO, 세상 모든 고민을 담습니다</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	</head>
<body>
	<div class="navbar">
        <div class="navContainer">
            <div class="newLogo">
                <a href="/"><img src="{% static '/img/ic_fair_limit_2w.svg' %}"></a>
            </div>
            <div>
				<a href="/segouser/login">로그인 |</a>
				<a href="/segouser/register">회원가입</a>
				<!-- <a href="/segouser/logout">로그아웃</a> -->
			</div>
        </div>
    </div>
	<div>
		{% block content %}
    	{% endblock %}
	</div>
	<br><br>
</body>
</html>

