{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{% static '/img/ic_fair_limit_2w.svg' %}" sizes="196x196" rel="shortcut icon" type="image/svg">
		<link rel="stylesheet" href="{% static '/css/styles.css' %}">
		<title>SEGO, 세상 모든 고민을 담습니다</title>
	</head>
<body>
	<div>
		<div>
			<br>
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}"><span>수정</span></a>
			{% endif %}	
			<a href="{% url 'post_list' %}"><h1>SEGO</h1></a>
		</div>
		<div>
				<a href="/segouser/login">로그인</a>
				<a href="/segouser/register">회원가입</a>
				<a href="/segouser/logout">로그아웃</a>
		</div>
	</div>

	<div>
		{% block content %}
    	{% endblock %}
	</div>
</body>
</html>

