{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{% static '/img/ic_fair_limit_2w.svg' %}" sizes="196x196" rel="shortcut icon" type="image/svg">
		<link rel="stylesheet" href="{% static '/css/styles.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
		<title>세고: 고민을 담는 공간</title>
		<meta property="og:type" content="website"> 
		<meta property="og:title" content="세고: 고민을 담는 공간"> 
		<meta property="og:url" content="http://letsego.site/"> 
		<meta property="og:description" content="하고 싶은 말들은 쌓여가는데, 친구들에게 하기엔 낯간지럽고, 회사 사람들에겐 하기 어려운 그런 말들">
		<meta property="og:keyword" content="세고, 고민, 상담, 고민상담소, 걱정, 심리, 심리검사, 걱정거리, 고민해결, 고민 상담">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '3812072875480083');
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=3812072875480083&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
		<!-- Google Ads -->
		<script data-ad-client="ca-pub-8895171113569143" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- End Google Ads -->
	</head>
<body>
	<div class="navbar">
        <div class="navContainer">
            <div class="newLogo">
                <a href="/"><img src="{% static '/img/ic_fair_limit_2w.svg' %}"></a>
            </div>
        </div>
    </div>
	<div>
		{% block content %}
    	{% endblock %}
	</div>
	<br><br>
	<style>
	.test_ads { width: 320px; height: 100px; margin: 0 auto; }
	@media(min-width: 500px) { .test_ads { width: 468px; height: 60px; margin: 0 auto; } }
	@media(min-width: 800px) { .test_ads { width: 728px; height: 90px; margin: 0 auto; } }
	</style>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- square_ads -->
	<ins class="adsbygoogle test_ads"
	     style="display:block"
	     data-ad-client="ca-pub-8895171113569143"
	     data-ad-slot="1666795497"
	     data-ad-format="auto"
	     data-full-width-responsive="true"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<br><br>
</body>
</html>

