{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'post_edit' pk=post.pk %}" style="padding: 20px;"><span>수정</span></a>
{% endif %}

<div class="card--container">
    <div class="card--profile">
        <img src="{% static '/img/ic_fair_limit_2w.svg' %}"></img>
        <p>맥국</p>
    </div>
    <ul class="card--wrapper">
        <li class="card--title">{{ post.title }}</li>
        <pre class="card--content">{{ post.text|linebreaksbr }}</pre>
    </ul>
</div>
{% endblock %}