{% extends 'blog/base.html' %}
{% block content %}

<div style="padding: 15px;">

	<div style="padding-left: 20px;">
		<text style="border-bottom: 2px solid gold;"><strong>나의 노트</strong></text>
	</div>
	<div>
		{% for post in posts %}
		    	<div>
		    		<div>
		    			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		    		</div>
		        	<!-- <p>published: {{ post.published_date }}</p> -->
		        	<pre>{{ post.text|linebreaksbr }}</pre>
		    	</div>
		{% endfor %}
	</div>
</div>


{% endblock %}