{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div id="postDetailApp" class="bt50" v-cloak>
	{% if user.is_authenticated %}
		<br>
	    <a href="{% url 'post_edit' pk=post.pk %}" style="padding: 20px;"><span>수정</span></a>
	{% endif %}

	<div class="card--container">
	    <div class="card--profile">
	        <img src="{% static '/img/ic_fair_limit_2w.svg' %}"></img>
	        <p>[[ post.author ]]</p>
	    </div>
	    <ul class="card--wrapper">
	        <li class="card--title">[[ post.title ]]</li>
	        <pre class="card--content">[[ post.text ]]</pre>
	        <p class="card--date">[[ moment(post.created_date).format('M월 D일 HH:mm') ]]</p>
	    </ul>
	</div>

	<!-- {% for comment in post.comments.all %}
	    {% if user.is_authenticated or comment.approved_comment %}
	    <div class="comment">
	        <div class="date">
	            {{ comment.created_date }}
	            {% if not comment.approved_comment %}
	                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
	            {% endif %}
	        </div>
	        <strong>{{ comment.author }}</strong>
	        <p>{{ comment.text|linebreaks }}</p>
	    </div>
	    {% endif %}
	{% empty %}
	    <p>No comments here yet :(</p>
	{% endfor %} -->

	<hr><br>

	<a class="comment-btn radius10" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글달기</a>

	<div v-show="comments.length==0">
		<div class="no--comment">
			<div style="padding-top: 15px;">
				<span>🙁</span>
				<p>댓글이 없어요</p>
			</div>
		</div>
	</div>

	<div class="comment" v-for="comment in comments">
		<div class="card--container" style="padding: 5px 10px;">
			<div class="card--content" style="padding: 0px;">
				<!-- <strong>[[ comment.author ]]</strong> -->
				<pre id="comment_text">[[ comment.text ]]</pre>
				<p class="card--date">[[ moment(comment.created_date).format('M월 D일 HH:mm') ]]</p>
			</div>
		</div>
	</div>
</div>

<!-- <script>autolink('comment_text');</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/ko.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
	var post_id = {{ post.id }}

	var post_detail_app = new Vue({
		delimiters: ['[[',']]'],
		el: '#postDetailApp',
		data: {
			comments: [],
			post: [],
		},
		created() {
			this.getPost()
			this.getComment()
		},
		methods: {

			getComment() {
				var v=this;
				axios.get('/api/v1/comment/')
				.then(function(res){
					for (var i=0; i < res.data.length; i++) {
						if (res.data[i].post_id == post_id) {
							if (!res.data[i].approved_comment) {
								v.comments.push(res.data[i])
							}
						}
					}
				})
				.catch(function(err){})
			},

			getPost() {
				var v=this;
				axios.get('/api/v1/blog/'+post_id+'/')
				.then(function(res){
					v.post=res.data
					setTimeout(function() { v.autolink() }, 1000)
				})
				.catch(function(err){})
			},

			autolink() {
				var v=this;
				var container = document.getElementById('comment_text');
		        var doc = container.innerHTML;
		        var regURL = new RegExp("(http|https|ftp|telnet|news|irc)://([-/.a-zA-Z0-9_~#%$?&=:200-377()]+)","gi");
		        var regEmail = new RegExp("([xA1-xFEa-z0-9_-]+@[xA1-xFEa-z0-9-]+\.[a-z0-9-]+)","gi");
		        container.innerHTML = doc.replace(regURL,"<a href='$1://$2' target='_blank'>$1://$2</a>").replace(regEmail,"<a href='mailto:$1'>$1</a>");
			}

		},
	})
</script>

{% endblock %}