{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div id="postApp" class="bt50" v-cloak>
	
	<div class="intro">
		<div>
			<p class="hello">Hello!👋</p> 
		</div>
		<br>
		<div>
			<p style="font-size: 13px; line-height: 1.6em;">하고 싶은 말들은 쌓여가는데,<br>친구들에게 하기엔 낯간지럽고,<br>회사 사람들에겐 하기 어려운 그런 말들</p>
		</div>
	</div>

	<div class="hitpost">
		<div>
			<p class="hitsego">sego</p>
		</div>
		<div class="hit-content">
			<ul>
				<li v-for="hit_post in hit_posts">
					<a :href="'/post/'+hit_post.id+'/'">
						<p>[[ hit_post.title ]]</p>
					</a>
				</li>
			</ul>
			<ul v-if="hit_posts.length==0">
				<li v-for="hit_post in 5">
					<a><p></p></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="main-feeds">
		<br>
		<div style="padding: 20px;">
			<p class="feeds">Feeds</p>
		</div>
		<div style="display: flex; padding: 0px 20px;">
			<a href="{% url 'post_new' %}" class="comment-btn radius10 ft12"><span>포스트 작성</span></a>
			<div class="search-wrap">
			   <div class="search">
			   		<span data-tooltip="검색기능을 사용해보세요" v-if="show_release"></span>
			      	<input type="text" class="searchTerm" placeholder="검색하기">
			   </div>
			</div>
		</div>
	
		<div v-for="post in posts"
			 v-if="post.approved_post"
			 class="card--container">
			<a :href="'/post/'+post.id+'/'">
				<div class="card--profile">
					<img src="{% static '/img/ic_fair_limit_2w.svg' %}"></img>
					<p>[[ post.author ]]</p>
				</div>
				<ul class="card--wrapper">
					<li class="card--title">[[ post.title ]]</li>
					<pre class="card--content">[[ post.text ]]</pre>
					<span style="font-size: 10px;">[[ post.comments.length ]] 개 댓글이 있습니다</span>
					<p class="card--date">[[ moment(post.created_date).format('M월 D일 HH:mm') ]]</p>
				</ul>
			</a>
		</div>
		<div class="card--container" v-if="posts.length==0">
			<a>
				<div class="card--profile">
					<img src="{% static '/img/ic_fair_limit_2w.svg' %}"></img>
					<p>[[ keyword ]]</p>
				</div>
				<ul class="card--wrapper">
					<li class="card--title">"[[ keyword ]]" 에 관련된 포스트가 없습니다</li>
					<pre class="card--content">검색한 키워드와 관련된 포스트가 없어요.<br>"[[ keyword ]]" 에 관련된 첫 포스트를 남겨주세요</pre>
				</ul>
			</a>
		</div>
	</div>
</div>
<br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/ko.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">


var post_app = new Vue({
	delimiters: ['[[',']]'],
	el: '#postApp',
	data: {
		posts: [],
		posts2: [],
		hit_posts: [],
		show_release: true,
		keyword: null,
	},
	created() {
		this.getPost('')
		this.getPost2()
		this.searchPost()
		setTimeout(() => this.show_release=false, 9000);
	},
	methods: {

		getPost(keyword) {
			var v=this;
			var url='?search='+keyword
			v.keyword=keyword
			axios.get('/api/v1/blog/'+url)
			.then(function(res){
				v.posts=res.data.reverse()
				v.insertAds(v.posts)
			})
			.catch(function(err){})
		},

		getPost2() {
			var v=this;
			axios.get('/api/v1/blog/')
			.then(function(res){
				v.posts2=res.data
				v.hitPost(v.posts2)
			})
			.catch(function(err){})
		},

		hitPost(post) {
			var v=this;
			post.sort(function(a, b) {
				return b.comments.length - a.comments.length
			})
			post.splice(5)
			v.hit_posts=post
		},

		searchPost() {
			var v=this
			document.addEventListener('keypress', logKey);
			function logKey(e) {
				if(e.which==13) {
					var s=document.getElementsByClassName('searchTerm')[0]
					v.getPost(s.value)
				}
			}
		},

	}
})

</script>
{% include "blog/footer.html" %}
{% endblock %}
