{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div id="postApp" class="bt50" v-cloak>
	<div>
		<br>
		<div style="padding: 20px;">
			<p style="font-family:'Lato', sans-serif; font-size: 24px;">Feeds</p>
		</div>
		<a href="{% url 'post_new' %}" style="padding: 20px;"><span>포스트 작성</span></a>
	</div>
	
	<div v-for="post in posts"
		 class="card--container">
		<a :href="'/post/'+post.id+'/'">
			<div class="card--profile">
				<img src="{% static '/img/ic_fair_limit_2w.svg' %}"></img>
				<p>[[ post.author ]]</p>
			</div>
			<ul class="card--wrapper">
				<li class="card--title">[[ post.title ]]</li>
				<pre class="card--content">[[ post.text ]]</pre>
				<span style="font-size: 10px;">[[ post.comment.length ]] 개 댓글이 있습니다</span>
				<p class="card--date">[[ moment(post.created_date).format('M월 D일 HH:mm') ]]</p>
			</ul>
		</a>
	</div>
</div>

<!-- <div>
	<div>
		{% for post in posts %}
		    	<div>
		    		<div>
		    			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		    		</div>
		        	<pre>{{ post.text|linebreaksbr }}</pre>
		    	</div>
		{% endfor %}
	</div>
<div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/locale/ko.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

var post_app = new Vue({
	delimiters: ['[[',']]'],
	el: '#postApp',
	data: {
		posts: [],
		comments_cnt: [],
	},
	created() {
		this.getPost()
	},
	methods: {

		getPost() {
			var v=this;
			axios.get('/api/v1/blog/')
			.then(function(res){
				res.data.reverse()
				v.posts=res.data
				for (var i=0; i < v.posts.length; i++) {
					Vue.set(v.posts[i], 'comment', [])
				}
				v.getComment()
			})
			.catch(function(err){})
		},

		getComment() {
			var v=this;
			axios.get('/api/v1/comment/')
			.then(function(res){
				for (var i=0; i < v.posts.length; i++) {
					for (var j=0;  j < res.data.length; j++) {
						if (v.posts[i].id == res.data[j].post_id) {
							if (!res.data[j].approved_comment) {
								v.posts[i].comment.push(j)
							}
						}
					}
				}
			})
			.catch(function(err){})
		},

	}
})

</script>

{% endblock %}