[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/sego/segovenv/bin/uwsgi -i /home/sego/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
