@charset "utf-8";
/*
 * default style definition
 */
body, html {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: 'Apple SD Gothic Neo','Noto Sans CJK KR', 'Noto Sans KR', 'Lato', 'Malgun Gothic', 'dotum', 'gulim', sans-serif;
	color: #333;
	background-color: #F9F3F1;
	width:100%;
	height: 100%;
}
* {
	box-sizing: border-box;
	outline: none;
}
img {
	border:0 none;
}
a {
	outline:none;
	color:#333;
	text-decoration:none;
	cursor: pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul, li {
	list-style:none
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: keep-all;
	overflow: auto;
	line-height: 20px;
	font-family:'Apple SD Gothic Neo','Noto Sans CJK KR', 'Noto Sans KR', 'Lato', 'Malgun Gothic', 'dotum', 'gulim', sans-serif;
}
pre a {
    color: #3534A5;
    text-decoration: underline;
}
.clear {
	clear: both;
}

p, div, th, td, select, input {
	/*color: #333;*/
}
a:link, a:visited {
	/*color: #666;*/
	text-decoration: none;
}
a:active, a:hover {
	/*color: #000;*/
	text-decoration: none;
}
a img, 
input.type-image {
	border: 0 none;
}
input.type-text, 
textarea {
	border: 1px solid #ddd;
	background: #fff;
	padding: 1px;
}
input.type-text:hover, 
input.type-text:focus, 
textarea:hover, 
textarea:focus, 
select:hover, 
select:active {
	/*background-color: #ffd;*/
}
input, select, textarea {
	vertical-align: middle;
	font-size: 1em;
	/*color: #333;*/
}
select {
	font-size: 11px;
	font-family: Dotum, "돋움", sans-serif;
}
span.button, 
img.button, 
a.button {
	cursor: pointer;
	vertical-align: middle;
}
input.inputFull, select.inputFull {
	width: 100%;
}
.inputWrap {
	margin: 5px 0;
	/**display: inline-flex;**/
	width: 100%;
	overflow: auto;
}
.height250 {
	height: 250px;
}
.mb10 {
	margin-bottom: 10px;
}

.navbar {
  padding: 0;
  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
.navbar .navContainer {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.navbar .newLogo {
}
.navbar .newLogo img {
	height: 32px;
}
.navbar .newLogo a {
	font-size: 18px;
	font-family:'Lato', sans-serif;
}
@media only screen and (min-width: 1024px) {
	.navContainer {
		max-width: 1024px;
		margin: 0 auto;
	}
	.bt50 {
		max-width: 1024px;
		margin: 0 auto;
	}
	input.inputFull, select.inputFull {
		width: 20%;
	}
	.search-wrap {
		width: 80%;
		align-self: center;
		margin: 0 auto;
	}
}
.intro {
	padding: 20px; 
}
.hello {
	font-family:'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
}
.hitpost {
	padding: 20px; 
}
.hitsego {
	font-family:'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
}
.hit-content {
	display: flex;
	justify-content: space-between;
}
.hit-content ul {
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.hit-content ul li {
	text-align: center;
    display: inline-block;
	background-color: #eee;
	padding: 15px;
	border-radius: 10px;
	margin: 15px;
}
.hit-content p {
	font-size: 12px;
}
.hit-content p:empty {
  width: 100px;
  height: 20px;
  background: #ddd;
}
.feeds {
	font-family:'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;	
}
.newtitle {
	font-family:'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;	
}
.card--container {
	padding: 20px; 
	margin: 20px; 
	background-color: white; 
	border-radius: 10px;
}
.scrp-card--container {
	padding: 20px; 
	margin: 20px; 
	background-color: white; 
	border-radius: 10px;
}
.card--wrapper{
	/*font-family: 'Noto Sans KR', sans-serif;*/
}
.card--profile {
	display: flex; 
	justify-content: flex-start; 
	padding: 10px 0px;
}
.card--profile img {
	padding: 5px;
}
.card--profile p {
	font-size: 12px; 
	margin: auto 0; 
	/*font-weight: bold;*/
}
.card--title {
	/*font-weight: 900;*/
}
.card--content {
	font-size: 12px;
	padding: 10px 0px;
}
.card--date {
	font-size: 12px;
	padding-top: 5px;
	color: #999999;
	text-align: end;	
}
.bt50 {
	margin-bottom: 50px;
}
.comment {
}
.comment-btn {
	padding: 10px;
	background-color: #FFA135;
	color: white;
	margin: 0px 20px;
}
.radius10 {
	border-radius: 10px;
}
.ft12 {
	font-size: 12px;
}
.no--comment {
	text-align: center;
	background-color: #eee;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
}
.no--comment p {
	font-size: 14px;
}
.no--comment span {
	font-size: 54px;
}
.post-form label {
	font-size: 14px;
}

/*SEARCH*/
.search-wrap {
	align-self: center;
	margin: 0 auto;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #FFA135;
  padding: 10px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  /*color: #184C5F;*/
}

.searchTerm:focus{
  /*color: #184C5F;*/
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #FFA135;
  background: #FFA135;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.fa-search:before {
	content: "\f002";
}
/* TOOLTIP */
[data-tooltip]{
	position:relative;
	line-height: normal;
}
[data-tooltip]:before,[data-tooltip]:after{
	visibility:visible;
	opacity:1;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	white-space:nowrap;
	transition:all .2s 
	ease;font-size:11px;
	letter-spacing:-1px;
}
[data-tooltip]:before{
	content:attr(data-tooltip);
	height:13px;
	position:absolute;
	top:-30px;
	padding:5px 10px;
	border-radius:5px;
	color:#fff;
	background:#025272;
	box-shadow:0 3px 8px rgba(165, 165, 165, 0.5);
}
[data-tooltip]:after{
	content: '';
	border-left:5px solid transparent;
	top:-8px;
	border-right:5px solid transparent;
	border-top:5px solid #025272;
}

/*OKRs*/
.sub-header {
	padding: 10px 30px;
	font-family: 'Roboto Mono', monospace;
	border-bottom: 3px solid #333;
	color: #333;
	max-width: 1024px;
	margin: 0 auto;
}
.sub-header__logo {
	display: flex; 
	justify-content: space-between;
}
.sub-header__logo p {
	font-size: 18px;
}
.sub-header__logo h1 {
	font-size: 24px;
}
.okr--container {
	/*border-bottom: 1px solid #ddd;*/
	padding: 20px;
}
.okr--card--main {
	margin-bottom: 20px;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	border-radius: 20px;
	padding: 20px;
}
.okr--card--main p {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
}
.okr--card--main span {
	font-size: 16px;
	padding-top: 20px;
	display: block;
}
.okr--card--main pre {
	font-size: 15px;
	word-break: keep-all;
}

.okr--card--team {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}
.okr--card--team li {
	width: 100%;
	margin: 10px 0;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	border-radius: 20px;
	padding: 20px;
	margin-right: 19.7px;
}
.okr--card--team li p {
	font-size: 12px;
	/*font-weight: 500;*/
	font-family: 'Roboto Mono', monospace;
	word-break: keep-all;
}
.okr--card--team li span {
	font-size: 12px;
	letter-spacing: -0.06em;
	padding-top: 20px;
	display: block;
	word-break: keep-all;
}
.okr--card--team .graph--horizontal-bar {
	height: 4px;
}
#footer {
	/*background-color: #eeeeee;*/
}









/**/
.okr--container .okr--card--Wrap .card-ul {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.okr--container .okr--card--Wrap .card-li {
	vertical-align: top;
}
.okr--container .okr--card--Wrap h3 {
	margin-left: 20px;
	display: block;
}
.okr--container .okr--card--Wrap h4 {
	margin-left: 20px;
	display: block;
}
.okr--container .okr--card--Wrap .card-ul .card-li {
	/*background-color: #3534A5;
	color: white;*/
	background-color: #eee;
	/*text-align: center;*/
    display: inline-block;
    width: 30%;
	margin: 10px 0;
	border-radius: 5px;
	padding: 20px;
	margin-right: 19.7px;
}
.okr--container .okr--card--Wrap .card-ul .card-li .title{
	font-size: 16px;
	font-weight: 600;
}

/*.okr--container .okr--card--Wrap .card-ul .card-li :first-child {
	margin-left: 20px;
}*/
/*
.okr--container .okr--card--Wrap ul li.ready {
	background-color: #3534A5;
	color: white;
}

.okr--container .okr--card--Wrap ul li.selectedme {
	background-color: #009e5c;
	color: white;
}

.okr--container .okr--card--Wrap ul li.return {
	background-color: #ffc645;
	color: #2a2a2a;
}

.okr--container .okr--card--Wrap ul li.selected {
	background-color: #eee;
	color: #999999;
}*/

/**/
.kr-card {
	margin: 8px 0;
}
.kr-card p {
	margin: 8px;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	word-break: keep-all;
	font-size: 12px;
}

@media(min-width: 1024px) {
	.okr--card--team li {
		width: 18%;
	}
}

.okr--detail {
	background-color: #eee;
	margin: 20px;
	border-radius: 5px;
	padding: 20px;
}

.feed-wrapper {
	text-align: center;
}

.feed-wrapper iframe {
	width: 400px;
	height: 450px;
}

@media (max-width: 480px) {
	.carousel--img img {
		height: 400px;
	}
	.slick-slide img.carousel--img_m {
		display: block;
	}
	.slick-slide img.carousel--img_pc {
		display: none;
	}
	.feed-wrapper iframe {
		width: 280px;
		height: 330px;
	}
}
@media (min-width: 480px) and (max-width: 1023px){
	.carousel--img img {
		height: 400px;
	}
	.slick-slide img.carousel--img_m {
		display: block;
	}
	.slick-slide img.carousel--img_pc {
		display: none;
	}
}
@media (min-width: 1024px) {
	.scrp-card--container {
		max-width: 820px; 
		margin: 0 auto; 
		margin-top: 60px;
	}
	.carousel--img img {
		height: 320px;
	}
	.slick-slide img.carousel--img_m {
		display: none;
	}
	.slick-slide img.carousel--img_pc {
		display: block;
	}
}
