@charset "utf-8";
/*
 * default style definition
 */
body, html {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: 'Apple SD Gothic Neo','Noto Sans CJK KR', 'Malgun Gothic', 'dotum', 'gulim',sans-serif;
	color: #333;
	background-color: white;
	width:100%;
	height: 100%;
}
* {
	box-sizing: border-box;
	outline: none;
}
img {
	border:0 none;
}
a {
	outline:none;
	color:#333;
	text-decoration:none;
	cursor: pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul, li {
	list-style:none
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: keep-all;
	overflow: auto;
	font-family:'Apple SD Gothic Neo','Noto Sans CJK KR', 'Malgun Gothic', 'dotum', 'gulim',sans-serif;
}
pre a {
    color: #3534A5;
    text-decoration: underline;
}
.clear {
	clear: both;
}

p, div, th, td, select, input {
	color: #333;
}
a:link, a:visited {
	color: #666;
	text-decoration: none;
}
a:active, a:hover {
	color: #000;
	text-decoration: none;
}
a img, 
input.type-image {
	border: 0 none;
}
input.type-text, 
textarea {
	border: 1px solid #ddd;
	background: #fff;
	padding: 1px;
}
input.type-text:hover, 
input.type-text:focus, 
textarea:hover, 
textarea:focus, 
select:hover, 
select:active {
	background-color: #ffd;
}
input, select, textarea {
	vertical-align: middle;
	font-size: 1em;
	color: #333;
}
select {
	font-size: 11px;
	font-family: Dotum, "돋움", sans-serif;
}
span.button, 
img.button, 
a.button {
	cursor: pointer;
	vertical-align: middle;
}
.is_red {
	background-color: red;
}